@import "reset.css";

.boardBox {
    /* background: rgb(58, 58, 58); */
    /* border:1px solid white; */
    width: 1300px;
    height: 900px;
    position: relative;
    display: flex;
    justify-content: center;

    margin: 10px;
    padding-top: 20px;
}

.boardBox_btn1 {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;

}

.boardBox_btn1 #closebtn1 {
    width: 80%;
    margin-left: 0.5px;
    transform: "";
    transition: 0.4s;
}

/* 3:2 */
.board1 {
    /* display: none; */
    z-index: 1;
    width: 1200px;
    height: 800px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 50px;
    margin-top: 70px;
    position: absolute;
}

.box1 {
    /* display: none; */
    z-index: 1;
    width: 1100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 35px;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.box1 .login-info {
    z-index: 1;
    width: 200px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(45px);
    border-radius: 30px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    position: relative;
}

.box1 .browerbox {
    z-index: 1;
    width: 600px;
    height: 80px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.browerbox li {
    z-index: 1;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(45px);
    border-radius: 30px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px;
}

.google a {
    z-index: 2;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(45px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background: url(../IMG/icons.png);
    background-size: cover;
    transition: 0.5s;
}

.google a:hover {
    transform: rotate(360deg);
}

.naver a {
    z-index: 2;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(45px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background: url(../IMG/icons.png) -56px 0px;
    background-size: cover;
    transition: 0.5s;
}

.naver a:hover {
    transform: rotate(360deg);
}

.youtube a {
    z-index: 2;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(45px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background: url(../IMG/icons.png) -113px 0px;
    background-size: cover;
    transition: 0.5s;
}

.youtube a:hover {
    transform: rotate(360deg);
}

.nomard a {
    z-index: 2;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(45px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background: url(../IMG/icons.png)-164px 0px;
    background-size: cover;
    transition: 0.5s;
}

.nomard a:hover {
    transform: rotate(360deg);
}

.dnf a {
    z-index: 2;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(45px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background: url(../IMG/icons.png)-225px 0px;
    background-size: cover;
    transition: 0.5s;
}

.dnf a:hover {
    transform: rotate(360deg);
}

.lol a {
    z-index: 2;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(45px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background: url(../IMG/icons.png)-278px -2px;
    background-size: cover;
    transition: 0.5s;
}

.lol a:hover {
    transform: rotate(360deg);
}

.ovch a {
    z-index: 2;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    backdrop-filter: blur(45px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background: url(../IMG/icons.png)-328px 0px;
    background-size: cover;
    transition: 0.5s;
}

.ovch a:hover {
    transform: rotate(360deg);
}

.boxes {
    width: 1100px;
    height: 550px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(45px);
    border-radius: 30px;
    position: relative;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box2 {
    width: 1070px;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(45px);
    border-radius: 17px;
    position: relative;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.quote {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote div:first-child {
    font-size: 1.9em;
    font-family: 'Lobster', cursive;
    margin-left: 20px;
}

.quote div:last-child {
    font-size: 1.3em;
    font-family: 'Lobster', cursive;
    margin-right: 20px;
    margin-top: 10px;
}

.boxes2 {
    width: 1070px;
    height: 400px;
    /* background:coral; */
    position: relative;
    top: -5.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box3 {
    width: 200px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(45px);
    border-radius: 17px;
}

.box4 {
    width: 620px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(45px);
    border-radius: 17px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.box5 {
    width: 200px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(45px);
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.musicBox {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.musicBox .music-lpdeco {
    position: absolute;
    background: rgb(59, 51, 7);
    z-index: 999;
    width: 110px;
    height: 6px;
    left: 30%;
    border-radius: 30%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.61);
    animation: rotate1 0.7s linear infinite;
    animation-play-state: paused;
}

.musicBox.play .music-lpdeco {
    animation-play-state: running;
}

@keyframes rotate1 {
    0% {
        transform: rotate(-70deg);
        transform-origin: 100% 0;
    }

    50% {
        transform: rotate(-65deg);
        transform-origin: 100% 0;
    }

    100% {
        transform: rotate(-70deg);
        transform-origin: 100% 0;
    }
}

.musicBox .music-dot {
    position: absolute;
    background: rgb(211, 205, 197);
    width: 20px;
    height: 20px;
    top: 44%;
    left: 43%;
    z-index: 50;
    border-radius: 50%;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.582);
}

.musicBox .music-img {
    width: 160px;
    height: 160px;
    background: rgba(120, 80, 10, 0.4);
    border: 6px solid rgba(240, 234, 225, 0.7);
    border-radius: 50%;
    position: relative;
    margin-left: 7%;
}

.musicBox img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 2.5%;
    border: 1px solid rgba(120, 80, 10, 0.4);
    animation: rotate2 6s linear infinite;
    animation-play-state: paused;
}

.musicBox.play img {
    animation-play-state: running;
}

@keyframes rotate2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.musicBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.musicBtn li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 15px;
    background: rgba(120, 80, 10, 0.4);
    border: 3px solid rgba(240, 234, 225, 0.7);
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.musicBtn li:hover {
    background: rgba(230, 180, 110, 0.5);
}

.musicBtn li:nth-child(2) {
    width: 60px;
    height: 60px;
}

.musicBtn li .c1 {
    font-size: 2em;
    transform: rotate(180deg);
    text-align: center;
    margin-top: 10%;
    cursor: pointer;
}

.musicBtn li .c2 {
    font-size: 3em;
    text-align: center;
    margin-top: 10%;
    cursor: pointer;
}

.musicBtn li .pause {
    font-size: 3em;
    text-align: center;
    margin-top: 10%;
    cursor: pointer;
}

.musicBtn li .c3 {
    font-size: 2em;
    text-align: center;
    margin-top: 10%;
    cursor: pointer;
}

.musicInfo {
    width: 180px;
    height: 120px;
    background: rgba(120, 80, 10, 0.4);
    border-radius: 20px;
    border: 3px solid rgba(240, 234, 225, 0.7);
    position: relative;
    top: 1.5%;
    left: 3.5%;
    font-size: 2em;
    line-height: 1.2;
}

.box6 {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(45px);
    border-radius: 20px;
    position: relative;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
}

.box6 span {
    font-size: 2.5em;
    position: relative;
    top: 10%;
    left: 9%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box6 span:hover {
    color: rgba(255, 0, 0, 0.7);
}
