@import "reset.css";

.weather {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather span:first-child {
    font-size: 4em;
}

.weather span:nth-child(2) {
    font-size: 2em;
}
